<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="summer_trining.Properties.Settings.SummerTrainingDBConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\SummerTrainingDB.accdb"
            providerName="System.Data.OleDb" />
        <add name="summer_trining.Properties.Settings._10_103_131_5_27_5_2024_7_33_36ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\10.103.131.5_27_5_2024_7_33_36.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>